
<div>
    <h1> Transactions for <%=username%>@me.com </h1>
    <p> Here is your list of transactions! </p>
    <ul>
    <li><a href="/transaction/">transaction table</a> </li>
  </ul>
    <ul class="list-group">
      <table>
        <tr>
        <th>category</th>
        <th>amount</th>
      </tr>
      <% results.forEach(result => { %>
        <tr>
                <td>
                <%= result._id %>
              </td>
              <td>
                <%= result.total %>
              </td>
          <br>
        </tr>
      <% }) %>
    </table>
  </div>